<a href="https://colab.research.google.com/github/AngelicaCeDi/Analitica-3-caso-salud/blob/main/A_Preprocesamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#IMPORTAR PAQUETES
import pandas as pd
import sqlite3 as sql

In [2]:
url='https://raw.githubusercontent.com/AngelicaCeDi/Analitica-3-caso-salud/main/brain_stroke.csv'
stroke=pd.read_csv(url ,sep=',')
stroke.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [3]:
!git clone "https://github.com/AngelicaCeDi/Analitica-3-Caso-salud.git"

Cloning into 'Analitica-3-Caso-salud'...
remote: Enumerating objects: 57, done.
remote: Total 57 (delta 0), reused 0 (delta 0), pack-reused 57
Unpacking objects: 100% (57/57), 1.50 MiB | 1.30 MiB/s, done.

In [4]:
import os
path="/content/Analitica-3-Caso-salud"
os.chdir(path)
os.listdir(path)

['DISEÑO DE SOLUCIÓN.png',
 'brain_stroke.csv',
 'strokeb.db',
 '.git',
 'Brainfunciones.py',
 'README.md']

In [5]:
!python Brainfunciones.py

In [6]:
import Brainfunciones as bf 
#Exploración
bf.report_data(stroke) # Reporte de los datos y sus características.

Dimensiones
(4981, 11)
-------------------------------------------------
Formatos de variables
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object
-------------------------------------------------
Nulos
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64
-------------------------------------------------
Duplicados
0
-------------------------------------------------
Variables Númericas
               age  hypertension  heart_disease  avg_glucose_level  \
count  4981.000000   4981.000000    4981.000000        4981.000000
mean     43.419859      0.096165       0.055210         105.943562
std      22.662755      0.294848       0.228412          45.075373
min       0.080000      0.000000       0.000000          55.120000
25%      25.000000      0.000000       0.000000          77.230000
50%      45.000000      0.000000       0.000000          91.850000
75%      61.000000      0.000000       0.000000         113.860000
max      82.000000      1.000000       1.000000         271.740000

               bmi       stroke
count  4981.000000  4981.000000
mean     28.498173     0.049789
std       6.790464     0.217531
min      14.000000     0.000000
25%      23.700000     0.000000
50%      28.100000     0.000000
75%      32.600000     0.000000
max      48.900000     1.000000
-------------------------------------------------
Variables NO Númericas
        gender ever_married work_type Residence_type smoking_status
count     4981         4981      4981           4981           4981
unique       2            2         4              2              4
top     Female          Yes   Private          Urban   never smoked
freq      2907         3280      2860           2532           1838
-------------------------------------------------
Información General de la tabla
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB
None

In [7]:
#Volvemos algunas variables que nos interesan binarias
#La variable gender.
bf.get_binary(stroke,'gender','Male','Female')

Ya es una columna binaria

In [8]:
#la variable ever_married.
bf.get_binary(stroke,'ever_married','Yes','No')

Ya es una columna binaria

In [9]:
# Y la variable Residence_type.
bf.get_binary(stroke,'Residence_type','Urban','Rural')

Ya es una columna binaria

In [10]:
stroke

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,Private,1,228.69,36.6,formerly smoked,1
1,1,80.0,0,1,1,Private,0,105.92,32.5,never smoked,1
2,0,49.0,0,0,1,Private,1,171.23,34.4,smokes,1
3,0,79.0,1,0,1,Self-employed,0,174.12,24.0,never smoked,1
4,1,81.0,0,0,1,Private,1,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,1,41.0,0,0,0,Private,0,70.15,29.8,formerly smoked,0
4977,1,40.0,0,0,1,Private,1,191.15,31.1,smokes,0
4978,0,45.0,1,0,1,Govt_job,0,95.02,31.8,smokes,0
4979,1,40.0,0,0,1,Private,0,83.94,30.0,smokes,0
4980,0,80.0,1,0,1,Private,1,83.75,29.1,never smoked,0

In [11]:
#Crear base de datos sql
conn=sql.connect("strokeb.db")

In [12]:
#Guardando la tabla en la base de datos de strokeb
stroke.to_sql("stroke",conn,if_exists="replace")

4981